@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* root variables */
:root {
    --color-primary: #7780ec;
    --color-danger: #ff7782;
    --color-error: #e77968;
    --color-success: #8bf38b;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-leistungInput: #73e35f;
    --color-leistungstraßeInput: #4f9fdd;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --padding-btn: 10px;
    --box-shadow: 0rem 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    outline: 0;
    appearance: none;
    border: 0;
    /* getting conflicts with the ckEditor 5 */
    /* padding: 0; */
    /* text-decoration: none; */
    /* list-style: none; */
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    /* user-select: none; */
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 2rem auto;
    gap: 1.8rem;
}

table th,
table td {
    font-size: 12px;
}

a {
    color: var(--color-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* ============== Searchbar with h1 "Contact" ==============*/
.header {
    display: flex;
}

.header-search {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: left;
}

.search-buttons {
    display: flex;
}

.search-buttons button {
    display: inline-block;
    background-color: rgb(190, 190, 200);
    border-radius: var(--border-radius-1);

    padding: var(--padding-btn);
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid rgb(130, 130, 140);
}

.search-buttons button:hover {
    background-color: var(--color-info-light);
    transition-delay: 0.1s;
}

.search-buttons button:last-child {
    margin-right: 0px;
}

.buttons-container .search-buttons button.clicked {
    background-color: rgb(255, 110, 110);
}

.buttons-container .search-buttons button.clicked:hover {
    background-color: rgb(255, 150, 150);
    transition-delay: 0.1s;
}

.WebsiteHeadline {
    margin-right: 30px;
}

.search {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px;
    flex-grow: 1;
    /* margin-left: 30px; */
    margin-bottom: 8px;
}

.search-form {
    align-items: center;
    flex-grow: 1;
    /* display: flex; */
}

.search span {
    vertical-align: middle;
    background-color: var(--color-background);
}

.search input {
    border-radius: 5px;
    flex-grow: 1;
    background-color: var(--color-background);
    width: 100%;
    padding: 0;
}

.search button {
    padding: 0;
}

/* Distance between search icon and searchbar */
#query {
    display: inline-block;
    margin-left: 12px;
    border: none;
    outline: none;
}

.search-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

/* ============== End of Searchbar ============== */


.Modals {
    display: flex;
    gap: 8px;
}


/* ============== Create new Contacts ============== */
.createInvoice-Btn,
.createMonatlicheRechnungen-Btn {
    display: inline-block;
    background-color: rgb(190, 190, 200);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    border: 1px solid rgb(130, 130, 140);
}

.createInvoice-Btn:hover,
.createMonatlicheRechnungen-Btn:hover {
    background-color: var(--color-info-light);
    transition-delay: 0.1s;
}

/* ============== Modal ==============*/
/* Form */
.sendNewInvoiceData-Btn,
.sendMonatlicheRechnungData-Btn {
    display: inline-block;
    padding: var(--padding-btn);
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 100%;
}

.form-container {
    display: block;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container input {
    width: 100%;
    height: 35px;
    display: flex;
    flex-grow: 1;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
}

.modal,
.modal-MonatlicheRechnungen {
    position: absolute;
    /* For JS to "popup"*/
    top: -150%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);

    left: 50%;
    width: 80%;
    max-height: 80%;
    /* overflow: auto; */

    padding: 20px 30px;
    background: var(--color-info-light);
    box-shadow: 2px 2px 5px 5px var(--box-shadow);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 600ms ease-in-out 200ms;

    border: 1px solid black;
}

.modal.active,
.modal-MonatlicheRechnungen.active {
    top: 50%;
    opacity: 1;
    z-index: 10;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.modal .modal-header,
.modal-MonatlicheRechnungen .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.modal .modal-header span,
.modal-MonatlicheRechnungen .modal-header span {
    margin-top: 3px;
    cursor: pointer;
}

/* ================= Style for the Dropdown-List Customer =========================*/
.kundenListe {
    display: block;
}

#customerList {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    appearance: auto;
}

/* Style für die ausgewählte Option */
#customerList option:checked {
    background-color: #007bff;
    color: #fff;
}

/* Style für die Optionen */
#customerList option {
    background-color: #fff;
    color: #333;
}

/* Style für das Container-Div */
.customer-details {
    display: none;
    margin-bottom: 8px;
    border: 1px solid var(--color-dark);
    padding: 10px;
    border-radius: 4px;
}

/* Style für die Span-Elemente in der customer-details Klasse */
.customer-details span {
    font-weight: normal;
}

/* ================= END OF Style for the Dropdown-List Customer =========================*/


/* ================= START OF Style for the Leistungen and Leistungsstraße Customer =========================*/

.dienstleistungs-details {
    display: block;
    max-height: 30vh;
    overflow: auto;
    width: 100%;
}

.dienstleistungs-details table th,
.dienstleistungs-details table td {
    text-align: left;
    color: var(--color-dark);
    padding: 0 10px 0 0;
    vertical-align: text-bottom;
}

.dienstleistungs-details table td {
    padding-bottom: 6px;
}

/* Style for the tfoot label */
.add-row label {
    color: rgb(103, 103, 196);
    cursor: pointer;
}

.dienstleistungs-details .delete-icon-cell {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

/* ckEditor doing the styling everything on its own. Only thing I added is width: 100%; ckeditor/build/ckeditor.js (.ck.ck-editor{position:relative;width:100%;}) */

/* ================= END OF Style for the Leistungen and Leistungsstraße Customer =========================*/



/* ================= Style for the Dropdown-List Abrechnungsart =========================*/

#AbrechnungsartList {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    appearance: auto;
}


/* ================= END OF Style for the Dropdown-List Abrechnungsart =========================*/


/* ================= Style for the Datum (RechnungsDatum, Monat, Jahr)  =========================*/

.datum,
.datum-MonatlicheRechnungen {
    display: contents;
}

.RechnungsDatum,
.RechnungsDatum-MonatlicheRechnungen {
    display: flex;
    gap: 10px;
    width: 100%;
}

/* ================= END OF THE Style for the Datum (RechnungsDatum, Monat, Jahr)  =========================*/

/* ================= Style for the checkbox Monatliche Rechnung  =========================*/

.monatlicheRechnung {
    display: flex;
    gap: 4px;
    margin-top: 10px;
}

.monatlicheRechnung input {
    appearance: auto;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
}

.ContentMonatlicheRechnungen,
.monatlicheRechnung-Kunde {
    display: contents;
}

.KundenName {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.KundenName input {
    appearance: auto;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
}

.KundenName label {
    font-size: 12px;
}

.RechnungsInformationen {
    display: none;
    margin-bottom: 8px;
    border: 1px solid var(--color-dark);
    padding: 10px;
    border-radius: 4px;
}

/* Style für die Span-Elemente in der customer-details Klasse */
.RechnungsInformationen span {
    font-weight: normal;
}

.uncheck_check-AllCheckboxes {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.uncheck_AllCheckboxes,
.checkAllCheckboxes {
    display: inline-block;
    padding: var(--padding-btn);
    background-color: var(--color-white);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

/* ================= END OF THE Style for the checkbox Monatliche Rechnung  =========================*/

/* ============== END OF Modal ==============*/

.message {
    color: var(--color-dark);
    margin-bottom: 1rem;
    border-radius: var(--border-radius-1);
    padding: 8px;
    display: none;
    justify-content: space-between;
}

.success {
    background: var(--color-success);
}

.error {
    background: var(--color-error);
}

.edit {
    background: var(--color-warning);
}

.errorUpdate,
.errorDelete {
    background: var(--color-danger);
}


.message span {
    margin-top: 3px;
    cursor: pointer;
}

/* ========================= Crud table css ========================= */

.crud {
    /* Overflow of the Table */
    height: 66vh;
    width: 100%;
    overflow: auto;
}

.crud .crud-table table {
    border-collapse: collapse;
    width: 100%;
    /* height: 100%; */
}

.crud .crud-table table th,
.crud .crud-table table td {
    text-align: left;
    padding: 8px;
    /* border-bottom: 1px solid #ddd; */
    border: 1px solid #ddd;
    color: var(--color-dark);
}

.crud .crud-table table tr:nth-child(even) {
    background-color: var(--color-white);
}

/* head of table */
.crud .crud-table table th {
    background-color: var(--color-primary);
    /* Fixed Table Header */
    position: sticky;
    top: 0;
}

/* edit and error btn */
.crud .crud-table .CrudEdit,
.CrudDelete {
    display: inline-block;
    padding: var(--padding-btn);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    margin: 1px;
}

/* Edit btn */
.crud .crud-table .CrudEdit {
    background-color: var(--color-success);
}

/* Delete btn */
.crud .crud-table .CrudDelete {
    background-color: var(--color-danger);
}

.crud .crud-table .Ueberweisungsdatum {
    width: 100%;
    height: 35px;
    display: flex;
    flex-grow: 1;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-dark-variant);
}

.crud .crud-table .bezahlt_checkbox_button {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 6px;
}

.crud .crud-table .bezahlt_checkbox_button input {
    appearance: auto;
    width: 18px;
    height: 18px;
    margin-bottom: 0;
    vertical-align: middle;
}

.crud .crud-table .bezahlt_checkbox_button .bezahlt-btn {
    font-size: 12px;
    padding: 2px;
    border-radius: 0.3rem;
    border: 1px solid var(--color-dark-variant);
    cursor: pointer;
    background-color: var(--color-white);
}