@page {

    size: A4 portrait;


    @top-right {
        content: element(headerRight);
    }

    @top-left {
        content: element(headerLeft);
    }


    @bottom-left {
        content: element(footerLeft);
    }

    @bottom-right {
        content: 'Seite ' counter(page) ' von ' counter(pages);
    }

}

.headerLeft {
    position: running(headerLeft);
}

.headerRight {
    position: running(headerRight);
    text-align: right;
}

.footerLeft {
    position: running(footerLeft);
}


